{% extends "base.html" %}


{% block content %}

{% if object.title %}<h1>{{ object.title }}</h1>{% endif %}

{% for video in object.get_videos() %}
        { loop.index }
 
        {% with path=video.path, title=video.title %}
                    <li id="video-item-{{ loop.index }}">
                        {{ loop.index - 1 }}
                        {% include 'videos/htmx/link.html' %}
                        <button style="color: crimson;" 
                        hx-post="/playlists/{{ object.db_id }}/{{ video.host_id }}/delete/"
                        hx-target="#video-item-{{ loop.index }}"
                        hx-vals="{'index': '{{ loop.index -1 }}'}">
                        Remove</button>
                    </li>
                {% endwith %}
                
    {% endfor %}
<div id="video-container">
    {% for video in object.get_videos() %}
        { loop.index }
 
        {% with path=video.path, title=video.title %}
                    <li id="video-item-{{ loop.index }}">
                        {{ loop.index - 1 }}
                        {% include 'videos/htmx/link.html' %}
                        <button style="color: crimson;" 
                        hx-post="/playlists/{{ object.db_id }}/{{ video.host_id }}/delete/"
                        hx-target="#video-item-{{ loop.index }}"
                        hx-vals="{'index': '{{ loop.index -1 }}'}">
                        Remove</button>
                    </li>
                {% endwith %}
                
    {% endfor %}
</div>


<button hx-get="/playlists/{{ object.db_id }}/add-video"
    hx-trigger="click"
    hx-target="#video-container"
    hx-swap="beforeend">
    Add Video Form   
</button>

{% endblock %}